body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}

button {
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #99aab5; /* Hover color for better UX */
}
