<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.UserMapper">

    <insert id="add" parameterType="com.example.server.entity.User">
        INSERT INTO "user" (username, password) VALUES (#{username}, #{password})
    </insert>
    <update id="updateSettings">
        update "user" set setting = #{settings} where id = #{id}
    </update>
    <select id="getSettings" parameterType="integer" resultType="string">
        select setting from "user" where id = #{userId}
    </select>
    <update id="updateAvatar">
        update "user" set avatar = #{avatar} where id = #{id}
    </update>
    <update id="setPassword">
        update "user" set password = #{password} where id = #{id}
    </update>

    <select id="selectByUsername" resultType="com.example.server.entity.User" parameterType="string">
        SELECT * FROM "user" WHERE username = #{username}
    </select>

    <select id="selectById" resultType="com.example.server.entity.User" parameterType="Integer">
        SELECT * FROM "user" WHERE id = #{id}
    </select>

    <select id="searchByUsername" resultType="com.example.server.entity.User" parameterType="string">
        SELECT * FROM "user" WHERE username LIKE CONCAT('%', #{username}, '%')
    </select>


</mapper>
